---
title: "_SEdit_ Test Report"
date: '1987-02-28'
authors: 
    - NA
abstract: "This report is for tests written and executed up to February 28, 1987 on the {$<$}Lyric{$>$}Basics{$>$}Full.Sysout  generated 21-Jan-87. The following tests are for the integration of the new error system into the Interlisp environment.  The test plan for this report is {Erinyes}{$<$}Test{$>$}Lisp{$>$}Lyric{$>$}Plans{$>$}SEdit.NoteFile."
---

